#map {
	margin-left: 180px;
	margin-top: 55px;
	width: 33%;
	height: 300px;
	display: inline-block;
}
#directions	{
	margin-left: 15px;
	margin-top: 55px;
	width: 33%;
	height: 300px;
	overflow: auto;
	display: inline-block;
	background-color: #00802b;
	color: #000000;
}
.adp-placemark{
	background-color: #00802b;
}